body {

    background-color: rgb(134, 134, 134);
    
}

.container {

    padding: 50px;

}


.header {

    text-align: center;
    background: lightgray;
    padding: 40px;
    color: grey;
    margin-bottom: 10px;

}

.nav {

    text-align: center;
    background: lightgray;
    padding: 40px;
    color: grey;
    margin-bottom: 20px;

}

.section {

    text-align: center;
    background: lightgray;
    padding: 25px;
    height: 300px;
    width: 55%;
    color: grey;
    margin-bottom: 20px;
    float: left;

}

.article {

    text-align: center;
    background: rgb(134, 134, 134);
    padding: 40px;
    height: 200px;
    color: lightgrey;

}

.h {

    text-align: center;
    background: lightgray;
    padding: 40px;
    height: 10px;
    width: 88%;
    font-size: 24px;
    color: grey;
    margin-bottom: 30px;

}

.p {

    text-align: center;
    background: lightgray;
    padding: 40px;
    height: 10px;
    width: 88%;
    color: grey;
    
}

.aside {

    text-align: center;
    background: lightgray;
    padding: 25px;
    height: 300px;
    width: 33%;
    color: grey;
    margin-bottom: 20px;
    margin-left: 20px;
    float: left;

}

.footer {

    clear: both;
    text-align: center;
    background: lightgray;
    padding: 40px;
    color: grey;

}